<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>男丁格爾's 脫殼玩 - AngularJS 入門教學 - ngInit, ngChecked, ngDisabled 及 ngReadonly</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.6/angular-locale_zh-tw.js"></script>
</head>

<body>
    <div class="alert alert-info" ng-init="greeting='Hi,';name='男丁';">
        <label>Message:</label>
        <input type="text" ng-model="greeting" placeholder="Enter a message here">
        <br>
        <label>Name:</label>
        <input type="text" ng-model="name" placeholder="Enter a name here">
        <hr>
        <h1>{{ greeting }} {{ name }}!!</h1>
    </div>
    <div class="alert alert-success">
        <label>全選/全取消:
            <input type="checkbox" ng-model="selectAll">
        </label>
        <input type="checkbox" ng-checked="selectAll">
        <input type="checkbox" ng-checked="selectAll">
        <input type="checkbox" ng-checked="selectAll">
        <input type="checkbox" ng-checked="selectAll">
        <input type="checkbox" ng-checked="selectAll">
    </div>
    <div class="alert">
        <label>我同意
            <input type="checkbox" ng-model="agree">
        </label>
        <input type="text" ng-disabled="!agree" value="abnet.tw">
        <button class="btn btn-primary" ng-disabled="!agree">開始下載</button>
    </div>
    <div class="alert alert-error">
        <label>唯讀
            <input type="checkbox" ng-model="readonly">
        </label>
        <input type="text" ng-readonly="readonly" value="abnet.tw">
        <textarea ng-readonly="readonly"></textarea>
    </div>
</body>

</html>