<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>男丁格爾's 脫殼玩 - AngularJS 入門教學 - ngOptions (一)</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.6/angular-locale_zh-tw.js"></script>
    <script language="javascript">
        var app = angular.module("myApp", []);
        app.controller("SelectCtrl", function ($scope) {
            $scope.onepiece = [
                {
                    name: '蒙其·D·魯夫',
                    age: 19,
                    skills: ['橡膠槍', '橡膠火箭砲', '換檔', '霸氣']
                },
                {
                    name: '羅羅亞·索隆',
                    age: 21,
                    skills: ['無刀流', '煩惱鳳', '阿修羅', '霸氣']
                },
                {
                    name: '娜美',
                    age: 20,
                    skills: ['天候棒', '魔法天候棒', '棍術']
                },
                {
                    name: '騙人布',
                    age: 19,
                    skills: ['鐵鎚', '超巨大火鳥星', '必殺‧鐵人彗星']
                },
                {
                    name: '香吉士',
                    age: 21,
                    skills: ['肩肉 SHOOT', '惡魔風腳', '六式', '霸氣']
                },
                {
                    name: '多尼多尼·喬巴',
                    age: 17,
                    skills: ['腳力強化', '頭腦強化', '彈力強化', '毛皮強化', '腕力強化']
                },
                {
                    name: '妮可·羅賓',
                    age: 30,
                    skills: ['眼花繚亂', '六十輪花', '百花繚亂', '萬紫千紅']
                },
                {
                    name: '佛朗基',
                    age: 36,
                    skills: ['佛朗基火球', '風來噴射', '鋼鐵海賊', '佛朗基將軍', '將軍砲']
                },
                {
                    name: '布魯克',
                    age: 90,
                    skills: ['催眠曲·輪舞', '鼻唄三丁·矢筈斬', '冰凍劍', '哼歌·吹雪斬']
                }];
        });
    </script>
</head>

<body>
    <div class="span5" style="margin-top:20px;" ng-controller="SelectCtrl">
        <div class="alertalert-info">
            <!--label for value in array-->
            <select ng-model="role1" ng-options="m.name for m in onepiece">
                <option value="">--請選擇角色--</option>
            </select>
            <div ng-show="role1!=''">選擇的是:{{ role1.name + '('+role1.age+')' }}</div>
            <hr>
            <!--select as label for value in array-->
            <select ng-model="role2" ng-options="m.name as (m.name+'('+m.age+')') for m in onepiece">
                <option value="">--請選擇角色--</option>
            </select>
            <div ng-show="role2!=''">選擇的是:{{ role2 }}</div>
            <hr>
            <!--label group by group for value in array-->
            <select ng-model="role3" ng-options="m.name group by m.age for m in onepiece">
                <option value="">--請選擇角色--</option>
            </select>
            <div ng-show="role3!=''">選擇的是:{{ role3.name + '('+role3.age+')' }}</div>
            <hr>
            <!--select as label group by group for value in array by trackexpr-->
            <select ng-model="role4" ng-options="m as m.name group by m.age for m in onepiece track by m.age">
                <option value="">--請選擇角色--</option>
            </select>
            <div ng-show="role4!=''">選擇的是:{{ role4 }}</div>
        </div>
    </div>
</body>

</html>