<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>男丁格爾's 脫殼玩 - AngularJS 入門教學 - ngList</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.6/angular-locale_zh-tw.js"></script>
    <script language="javascript">
        var app = angular.module("myApp", []);
        app.controller("Ctrl", function ($scope) {
        });
    </script>
</head>

<body>
    <div class="well span4" style="margin-top:20px;">
        <h3>指定時為逗號分隔</h3>
        <input type="text" ng-model="tags" ng-list>
        <div>tags={{ tags }}</div>
    </div>
    <div class="well span4" style="margin-top:20px;">
        <h3>指定為|</h3>
        <input type="text" ng-model="tags1" ng-list="|">
        <div>tags={{ tags1 }}</div>
    </div>
    <div class="well span4" style="margin-top:20px;">
        <h3>指定為空格</h3>
        <input type="text" ng-model="tags2" ng-list=" " ng-trim="false">
        <div>tags={{ tags2 }}</div>
    </div>
    <div class="well span4" style="margin-top:20px;">
        <h3>指定為charcode( chr(10) )</h3>
        <textarea ng-model="tags3" ng-list="&#10;" ng-trim="false"></textarea>
        <div>tags={{ tags3 }}</div>
    </div>

</body>

</html>