<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>男丁格爾's 脫殼玩 - AngularJS 入門教學 - Filters (一)</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.6/angular-locale_zh-tw.js"></script>
    <script language="javascript">
        var app = angular.module("myApp", []);
        app.controller("FilterCtrl", function ($scope, $filter) {
            $scope.num = 1234.56789322;
            console.log($filter('number')($scope.num, 5));

            $scope.money = 1234.567;

            $scope.birth = '2013-08-26';

            $scope.obj = {
                name: 'abgne.tw',
                age: 18,
                skills: ['jQuery', 'JavaScript']
            };

            $scope.lower = 'ABGNE.TW';

            $scope.upper = 'abgne.tw';
        });
    </script>
</head>

<body>
    <div class="span6" ng-controller="FilterCtrl">
        <div class="alert alert-info">
            <input type="number" ng-model="num">
            <pre>{{num | number:5}}</pre>
        </div>
        <div class="alert alert-info">
            <input type="number" ng-model="money">
            <pre>{{money | currency:'NTD '}}</pre>
        </div>
        <div class="alert alert-info">
            <input type="text" ng-model="birth">
            <pre>{{ birth | date:'yyyy 年 MM 月 dd 日' }}</pre>
        </div>
        <div class="alert alert-info">
            <pre>{{ obj | json }}</pre >
        </div>
        <div class="alert alert-info">
            <input type="text" ng-model="lower">
            <pre>{{ lower | lowercase }}</pre>
        </div>
        <div class="alert alert-info">
            <input type="text" ng-model="upper">
            <pre>{{ upper | uppercase }}</pre>
        </div>
    </div>
</body>

</html>